<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <a ui-sref="bible" id="bible-home" data-ng-click="openBible()">
            <image src="/images/bible-home.jpg" class="image-button button home" id="button-home"></image>
            <div class="large-image-text" >Bible</div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a ui-sref="book" id="bible-bible" data-ng-click="openBook()">
            <image src="/images/bible-book.jpg" class="image-button button book" id="button-book"></image>
            <div class="small-image-text">Previous Book</div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a ui-sref="chapter" id="bible-chapter" data-ng-click="openChapter()">
            <image src="/images/bible-chapter2.jpg" class="image-button button chapter" id="button-chapter"></image>
            <div class="small-image-text">Previous Chapter</div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a ui-sref="versions" id="bible-versions" data-ng-click="openSelection()">
            <image src="/images/three-cross.jpg" class="image-button button translations" id="button-selection"></image>
            <div class="small-image-text">Translations</div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a ui-sref="history" id="bible-history" data-ng-click="openHistory()">
            <image src="/images/bible-history.jpg" class="image-button button highlight" id="button-highlight"></image>
            <div class="small-image-text">History</div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a ui-sref="search" id="bible-search" data-ng-click="openSearch()">
            <image src="/images/search.png" class="image-button button search" id="button-search"></image>
            <div class="small-image-text">Search</div>
        </a>
    </div>
</div>

